{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "footer" }}
  {{ $homepageVersion := .Site.Params.homepageVersion | default "legacy" | lower }}
  {{ partialCached "footer.html" . .IsHome }}
  {{ if eq $homepageVersion "v2" }}
    {{ partial "home/responsive-version.html" . }}
    {{ $worksLayoutJS := resources.Get "js/home-v2-works-layout.js" | minify | fingerprint }}
    <script src="{{ $worksLayoutJS.RelPermalink }}" defer></script>
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ $homepageVersion := .Site.Params.homepageVersion | default "legacy" | lower }}
  {{ if eq $homepageVersion "legacy" }}
    {{ partial "home/legacy.html" . }}
  {{ else if eq $homepageVersion "v2" }}
    <span data-home-legacy-start hidden></span>
    {{ partial "home/legacy.html" . }}
    <span data-home-legacy-end hidden></span>
    <template id="home-v2-template">
      {{ partial "home/v2.html" . }}
    </template>
    <template id="home-mobile-template">
      {{ partial "home/mobile.html" . }}
    </template>
  {{ else }}
    {{ errorf "unsupported params.homepageVersion %q; expected legacy or v2" $homepageVersion }}
  {{ end }}
{{ end }}
