<header>
  {{ with .Parent }}
    <a class="btn btn-square" href="{{ .RelPermalink | default .Site.Home.RelPermalink }}" title="{{ .Title }}">
      <svg width="24" height="24" data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"></path>
      </svg>
    </a>
  {{ else }}
    <a class="btn" href="{{ .Site.Home.RelPermalink }}">
      {{ .Site.Title }}
    </a>
  {{ end }}
  {{ if site.Menus.main }}
    <ul>
      <li>
        <button class="btn mopo-map-toggle" id="menu-toggle" aria-expanded="false" type="button" title="Map" aria-label="Toggle navigation map">
          <span class="icon-menu mopo-map-label" aria-hidden="true">
            <span class="mopo-map-text">Map</span>
            <span class="mopo-map-arrow-wrap">
              <span class="mopo-map-arrow"></span>
            </span>
          </span>

          <span class="icon-close mopo-map-close hidden" aria-hidden="true">×</span>
        </button>
      </li>
    </ul>
  {{ end }}
</header>
{{ partial "menu.html" . }}
